/* General Reset */
html {
    scroll-behavior: smooth;
    font-family: sans-serif;
    caret-color: transparent;
}

body {
    margin: 0;
    padding: 0;
}

/* Header Section */
#navbar {
    background-color: #093969;
    color: #E8EBD2;
    padding: 25px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 999;
    border-bottom: 3px solid #090000;
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Logo dan Judul */
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 80px;
    margin-right: 15px;
}

.logo h1 {
    margin: 0;
    font-size: 32px; /* Diperbesar */
    font-weight: bold;
    color: #E8EBD2;
}

/* Navigasi */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-left: 15px;
}

nav ul li a {
    color: #E8EBD2;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px; /* Diperbesar */
    position: relative;
    padding: 8px 14px;
    display: inline-block;
}

nav ul li a::before {
    content: '';
    position: absolute;
    top: -7px;
    left: -7px;
    width: calc(100% + 14px);
    height: calc(100% + 14px);
    background-color: #1483f3;
    border-radius: 10px;
    z-index: -1;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    color: #80bfff;
}

nav ul li a:hover::before {
    background-color: #E8EBD2;
}


/* Hero Section */
.hero-section {
    margin-top: 100px;
    background-image: url('https://www.tripsavvy.com/thmb/SOnmosQsIiXiHzNonv2BDMGC4n0=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-1004877052-58ce1095ed954946a94477fb25766c0f.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.hero-content {
    max-width: 1800px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    color: #E8EBD2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Map Section */
#map-section h2 {
    text-align: center;
    margin-top: 20px;
    font-size: 28px;
    margin-bottom: 20px;
}

#map {
    width: 95%;
    height: 800px;
    background-color: lightgray;
    margin: 40px auto;
    border: 2px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

/* Data Section */
#data-section {
    background-color: #f9f9f9;
    padding: 60px 0;
}

#data-section .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 20px;
}

#data-section h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
    clear: both;
}

.column {
    flex: 0 0 calc(33.33% - 20px);
    max-width: calc(33.33% - 20px);
    margin-bottom: 40px;
}

.data-item {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.data-item img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.description {
    padding: 20px;
    height: 500px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.description h3 {
    margin-top: 0;
    font-size: 24px;
}

.description p {
    color: #555;
    font-size: 16px;
}

/* Author Section */
#author-section {
    background-color: #1d9acb;
    padding: 40px 20px;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
}

.author-content {
    max-width: 800px;
    margin: 0 auto;
}

.author-content h2 {
    text-align: center;
}

.author-name {
    text-align: center;
}

.profile-picture {
    height: 100px;
    width: auto;
    border-radius: 50%;
    margin: 0 auto 20px;
    display: block;
}

/* Footer Section */
#footer {
    background-color: #0052a3;
    color: #E8EBD2;
    text-align: center;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    flex-shrink: 0;
}

.legend { 
    padding: 6px 8px; 
    background-color: rgba(255,255,255,0.8); 
    box-shadow: 0 0 15px rgba(0,0,0,0.2); 
    border-radius: 5px; 
} 
.legend div { 
    width: 30px; 
    height: 15px; 
    float: left; 
    margin-right: 8px; 
    opacity: 0.7; 
} 
div.legend.leaflet-control br { 
    clear: both; 
}